<div class="container">
	<div class="well">
		<h2>Web APIs</h2>
		<p>This project makes use of public Spotify APIs in order to search music. You can access the complete endpoint reference at:</p>
		<a href="https://developer.spotify.com/web-api/endpoint-reference/" target="_blank">Spotify for Developers</a>
	</div>
	<div>
		<p>This project covers the following aspects of Angular 2:</p>
		<ul>
			<li>Page routing</li>
			<li>Making HTTP requests to retrieve data from web api endpoints</li>
			<li>Two-way data binding with search form</li>
		</ul>
	</div>
	<div>
		<h3>Good luck on your ngJourney!</h3>
	</div>
</div>