<div class="jumbotron">
	<div class="darken">
		<div class="container">
			<h1>Music Never Sleeps</h1>
			<p>Listen to the latest songs from the latest albums by the latest artists in just a few searches away.</p>
			<form>
				<div class="form-group">
					<input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control" placeholder="Find your favourite artist...">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container" style="margin-top: 20px;">
	<div *ngFor="let res of searchRes">
		<div class="row">
			<div class="col-md-12">
				<div class="search-res well">
					<h4><a routerLink="/artist/{{ res.id }}">{{ res.name }}</a></h4>
					<div class="row">
						<div class="col-md-6">
							<div>
								<strong>Genres: </strong>
								<span *ngFor='let genre of res.genres'>{{ genre }}</span>
							</div>
						</div>
						<div class="col-md-3">
							<div>
								<strong>Followers: </strong>
								<span>{{ res.followers.total }}</span>
							</div>
						</div>
						<div class="col-md-3">
							<div>
								<strong>Popularity: </strong>
								<span>{{ res.popularity }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>