.jumbotron {
	margin: 0;
	padding: 0;
	height: 500px;
	background: url('https://www.ticketsmofo.com/uploads/media/541c46daa0761.jpeg?v2') no-repeat no-repeat center center;
	background-size: cover;
}

.darken {
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
	height: 500px;
	padding: 0; 
}

.jumbotron h1 {
	margin-top: 100px;
	color: white;
}

.jumbotron p {
	color: white;
}

.form-control {
	border: none;
	
}